.input {
  display: flex;
  gap: 15px;
  align-items: center;
}

.input input[type="text"] {
  width: 50px;
  height: 30px;
  border-radius: 34px;
  padding: 0 10px;
  border: 1px solid #000000;
  outline: none;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.input input[type="text"]:focus {
  border-color: #2196f3;
  box-shadow: 0 0 2px rgba(48, 15, 235, 0.5);
}
