h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .portrait-view {
  flex-direction: column;
}
.landspace-view {
  flex-direction: row;
} */

.progress-container {
  display: flex;
  align-items: center;
  gap: 55px;
}

.progress-title {
  font-size: 24px;
  font-weight: normal;
}

.toggle-group {
  display: flex;
  gap: 15px;
  align-items: center;
}

.toggle-subtitle {
  font-size: 16px;
}

.input-subtitle {
  font-size: 16px;
}

.action-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (orientation: portrait) {
  .progress-container {
    flex-direction: column;
  }
}
@media (orientation: landscape) {
  .progress-container {
    flex-direction: row;
    gap: 100px;
  }

  .progress-title {
    padding-bottom: 100px;
  }
}
